@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* home page styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

h2 {
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 30px auto;
  max-width: 800px;
}

.title {
  color: #333;
  padding: 20px;
}

iframe {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
}

p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 30px auto;
  padding: 10px;
}

/* Form styles */
form {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

label {
  color: #333;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

button[type="uploadVideo"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button[type="uploadVideo"]:hover {
  background-color: #3e8e41;
}

input[type=submit]:hover {
  background-color: #4CAF50;
  color: white;
}

table {
  width: 100%;
  border-spacing: 15px 50px;
}

table td {
  vertical-align: top;
  text-align: center;
  width: 20%;
}

table iframe {
  width: 60%;
  height: 200px;
  border-spacing: 15px 50px;
}

table p {
  margin: 0;
  padding: 10px 0;
}

table p a {
  color: #333;
  text-decoration: none;
}

table p a:hover {
  color: #4CAF50;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
}

footer a {
  color: #fff;
  margin-right: 10px;
}

footer div {
  margin-top: 20px;
  text-align: center;
}